<table class='reporting_table'>
    <caption>Development Department</caption>
    <thead>
    <tr>
        <!--<th class="reporting-table-header">ID</th>-->
        <th class="reporting-table-header">Index</th>
        <th class="reporting-table-header">City</th>
        <th class="reporting-table-header">Address</th>
        <th class="reporting-table-header">Photo</th>
        <th class="reporting-table-header">Finance</th>
        <th class="reporting-table-header">Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr class="reporting-table-row" ng-repeat="item in offices"
        ng-class="{'active' : ($index == activatedOffice), 'passive' : ($index != activatedOffice) }" ng-click="activate(item, $index)">
        <form>

            <td class="reporting-table-cells " style="text-align: center">{{$index}}</td>
            <td class="reporting-table-cells ">
                <span ng-hide="item.editMode">{{item.city}}</span>
                <span ng-show="item.editMode"><input type="text" ng-model="item.city" placeholder="Name"></span>
            </td>
            <td class="reporting-table-cells " style="text-align: center">
                <span ng-hide="item.editMode">{{item.address}}</span>
                <span ng-show="item.editMode"><input type="text" ng-model="item.address" placeholder="Address"></span>
            </td>
            <td class="reporting-table-cells " style="text-align: center">
                <span ng-hide="item.editMode"><img class='image' src={{item.photo}} alt={{item.photo}}></span>
                <span ng-show="item.editMode"><input type="file" file-model="item.photo"></span>
            </td>
            <td>{{item.financial}}<br/>{{item.profit}}</td>
            <td class="reporting-table-cells " style="text-align: center">
                <div style="padding-left: 10px">
                        <span ng-hide="item.editMode"><input class="actions" type="button" value="Delete"
                                                             ng-click="delete(item)"/></span>
                    <span ng-hide="item.editMode"><input style="float: left" type="button" value="Edit"
                                                         ng-click="edit(item)"/></span>
                    <span ng-show="item.editMode"><button type="submit" class="md-button md-primary"
                                                          ng-click="save(item)">Save Office</button></span>
                </div>
            </td>

        </form>

    </tr>
    <tr>

        <form>
            <td>
                <md-input-container>
                    <input type="text" ng-model="customer.city" placeholder="City">
                </md-input-container>
            </td>
            <td>
                <md-input-container>
                    <input type="text" ng-model="customer.address" placeholder="Address">
                </md-input-container>
            </td>

            <td>
                <md-input-container>
                    <input type="file" id="photo" file-model="customer.photo">
                </md-input-container>
            </td>
            <td>
                <button type="submit" class="md-button md-primary" ng-click="create()">Save Office</button>
            </td>


        </form>

    </tr>

    </tbody>
</table>


<div style="width: 600px">
    <h4 style="margin-left: 50px"> {{offices[activatedOffice].city}} Trade mission.  Sales and Profit % in 2018 year</h4>
    <canvas id="line" class="chart chart-line" chart-data="data"
            chart-labels="labels" chart-series="series" chart-options="options"
            chart-dataset-override="datasetOverride" chart-click="onClick">
    </canvas>

</div>
