<table class='reporting_table'>
    <caption>Human Resources Department</caption>
    <thead>
    <tr>
        <th>#</th>
        <th>
            <md-button class="md-raised" ng-click="sortBy('position')" title="Sort by position">Position</md-button>
            <span class="sortorder" ng-show="propertyName === 'position'" ng-class="{reverse: reverse}"></span>
         </th>
        <th>
            <md-button class="md-raised" ng-click="sortBy('name')" title="Sort by name">Name</md-button>
            <span class="sortorder" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
        </th>
        <th>
            <md-button class="md-raised" ng-click="sortBy('age')" title="Sort by age">Age</md-button>
            <span class="sortorder" ng-show="propertyName === 'age'" ng-class="{reverse: reverse}"></span>
        </th>
        <th>Photo</th>
        <th>
            <md-input-container>
                <md-select class="searchByChannel" ng-model="filter.office" ng-change="onSearchInputChanged()" title="Search by office" data-toggle="tooltip" data-placement="top" tooltip>
                    <md-option ng-value="undefined">{{'All Offices'}}</md-option>
                    <md-option ng-repeat="office in offices" ng-value="office">{{ office.city }}</md-option>
                </md-select>
            </md-input-container>
        </th>
       <th>Action</th>
    </tr>

    </thead>

    <tbody>
    <tr class="reporting-table-row" ng-repeat="item in filteredPersons | orderBy:propertyName:reverse" >

            <form>
            <td class="reporting-table-cells " style="text-align: center">{{$index+1;}}</td>

            <td class="reporting-table-cells ">
                <span ng-hide="item.editMode">{{item.position}}</span>
                <span ng-show="item.editMode"><input type="text" ng-model="item.position" placeholder="Position"></span>
            </td>

            <td class="reporting-table-cells ">
                <span ng-hide="item.editMode">{{item.name}}</span>
                <span ng-show="item.editMode"><input type="text" ng-model="item.name" placeholder="Name"></span>
            </td>

            <td class="reporting-table-cells " style="text-align: center">
                <span ng-hide="item.editMode">{{item.age}}</span>
                <span ng-show="item.editMode"><input type="text" ng-model="item.age" placeholder="Age"></span>
            </td>
            <td class="reporting-table-cells " style="text-align: center">
                <span ng-hide="item.editMode"><img class='image' src={{item.photo}} alt="No Photo"></span>
                <span ng-show="item.editMode"><input type="file" file-model="item.photo"></span>
            </td>
            <td class="reporting-table-cells " style="text-align: center">
                <span ng-hide="item.editMode">{{item.office.city}}</span>
                <span ng-show="item.editMode">

              <md-select ng-model="item.office">
                <md-option ng-value="office" ng-repeat="office in offices">{{ office.city }}</md-option>
              </md-select>
                </span>
            </td>
            <td class="reporting-table-cells " style="text-align: center">
                <div style="padding-left: 10px;">
                        <span ng-hide="item.editMode">
                            <!--<input class="actions" type="button" value="Dismiss" ng-click="delete(item)"/>-->
                            <md-button class="md-fab action-button"  ng-click="delete(item)">
                                <md-tooltip md-direction="top">Delete</md-tooltip>
                                <i class="icon-trash icon-large action-icon"></i>
                            </md-button>
                        </span>
                    <span ng-hide="item.editMode">
                        <!--<input style="float: left" type="button" value="Edit" ng-click="edit(item)"/>-->
                        <md-button class="md-fab action-button"  ng-click="edit(item)" >
                            <md-tooltip md-direction="top">Change</md-tooltip>
                            <i class="icon-cut icon-large action-icon"></i>
                        </md-button>
                    </span>
                    <span ng-show="item.editMode">
                        <md-button type="submit" class="md-fab action-button" ng-click="save(item)" >
                            <md-tooltip md-direction="top">Save</md-tooltip>
                            <i class="icon-thumbs-up-alt icon-large action-icon"></i>
                        </md-button>
                    </span>
                </div>
            </td>
        </form>
    </tr>
    <tr class="newObject">

        <form>
            <td ><span style="font-size: 18px">New Employee</span></td>
            <td>
                <md-input-container>
                    <input type="text" id="position" ng-model="customer.position" placeholder="Position">
                </md-input-container>
            </td>

            <td>
                <md-input-container>
                    <input type="text" id="name" ng-model="customer.name" placeholder="Name">
                </md-input-container>
            </td>
            <td>
                <md-input-container>
                    <input type="text" id="age" ng-model="customer.age" placeholder="Age">
                </md-input-container>
            </td>
            <td>
                <md-input-container class="upload">
                    <input  type="file" id="photo" file-model="customer.photo">
                    <md-tooltip md-direction="top">Chose Photo</md-tooltip>
                </md-input-container>
            </td>
            <td>
                <md-select ng-model="customer.office">
                    <md-option ng-value="undefined" disabled>Chose the Office</md-option>
                    <md-option ng-value="office" ng-repeat="office in offices">{{ office.city }}</md-option>
                </md-select>
            </td>

            <td><button type="submit" class="md-button md-primary" ng-click="create()">Save Person</button></td>


        </form>

    </tr>

    </tbody>
</table>