<table class='reporting_table'>
    <caption>Human Resources Department</caption>
    <thead>
    <tr>
        <th class="reporting-table-header">ID</th>
        <th class="reporting-table-header">Index</th>
        <th class="reporting-table-header">Имя</th>
        <th class="reporting-table-header">Возраст</th>
        <th class="reporting-table-header">Foto</th>
        <th class="reporting-table-header">Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr class="reporting-table-row" ng-repeat="item in artists"
        ng-class="{'active' : ($index == counter.counter), 'passive' : ($index != counter.counter) }" >
        <form>
            <td class="reporting-table-cells ">{{item._id}}</td>
            <td class="reporting-table-cells ">{{$index}}</td>
            <td class="reporting-table-cells ">
                <span ng-hide="item.editMode">{{item.name}}</span>
                <span ng-show="item.editMode"><input type="text" ng-model="item.name" placeholder="Name"></span>
            </td>
            <td class="reporting-table-cells " style="text-align: center">
                <span ng-hide="item.editMode">{{item.age}}</span>
                <span ng-show="item.editMode"><input type="text" ng-model="item.age" placeholder="Age"></span>
            </td>
            <td class="reporting-table-cells " style="text-align: center">
                <span ng-hide="item.editMode"><img class='image' src={{item.photo}} alt={{item.photo}}></span>
                <span ng-show="item.editMode"><input type="file" file-model="item.photo"></span>
            </td>
            <td class="reporting-table-cells " style="text-align: center">
                <div style="padding-left: 10px">
                        <span ng-hide="item.editMode"><input class="actions" type="button" value="Delete"
                                                             ng-click="delete(item)"/></span>
                    <span ng-hide="item.editMode"><input style="float: left" type="button" value="Edit"
                                                         ng-click="edit(item)"/></span>
                    <span ng-show="item.editMode"><button type="submit" class="md-button md-primary" ng-click="save(item)">Save Person</button></span>
                </div>
            </td>
        </form>
    </tr>
    <tr>
        <!--<form ng-controller='uploader'>-->
        <form>
            <td>
                <md-input-container>
                    <input type="text" id="name" ng-model="customer.name" placeholder="Name">
                </md-input-container>
            </td>
            <td>
                <md-input-container>
                    <input type="text" id="age" ng-model="customer.age" placeholder="Age">
                </md-input-container>
            </td>
            <td>
                <md-input-container>
                    <input type="file" id="photo" file-model="customer.photo">
                </md-input-container>
            </td>
            <td><button type="submit" class="md-button md-primary" ng-click="create()">Save Person</button></td>


        </form>

    </tr>

    </tbody>
</table>