
<table class='reporting_table'>
    <caption>Sales department activity</caption>
    <thead>
    <tr>
        <th class="reporting-table-header">Index</th>
        <th class="reporting-table-header">Имя</th>
        <th class="reporting-table-header">Activity</th>
        <th class="reporting-table-header">Timer</th>
        <th class="reporting-table-header">Interaction</th>

    </tr>
    </thead>

    <tbody>
    <tr class="reporting-table-row" ng-repeat="item in persons"
        ng-class="{'active' : (item.interaction == true), 'passive' : (item.interaction == false) }" >
        <form>
            <td class="reporting-table-cells " style="text-align: center">{{$index}}</td>
            <td class="reporting-table-cells ">{{item.name}}</td>
            <td class="reporting-table-cells " style="text-align: center">{{item.interaction}}</td>
            <td class="reporting-table-cells " style="text-align: center"><i ng-class="item.type" > <span style="margin-left: 10px">{{item.timer}}</span>  </i></td>
            <td class="reporting-table-cells " style="text-align: center">

             </td>
       </form>
    </tr>

    </tbody>
</table>