
<md-content class="md-padding" layout-xs="row" layout="row">
    <div flex-xs flex-gt-xs="90" layout="row">
<md-card style="min-width: 300px">
    <img src="/assets/images/my-face.jpeg" class="md-card-image" alt="Washed Out">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Web-developer</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>

            <p>name: <b> Andrei Manaenko </b></p>
        <p>e-mail: <b>manaenko1975@gmail.com</b></p>
        <p>phone number: <b>+7 903 044 96 81</b></p>

    </md-card-content>
</md-card>

<md-card >
<image src="/assets/images/mean-stack.png" alt="Hermes Logo"></image>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Project description</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <p>
        <p>This project is built on MEAN stack technology.</p>
        <p><b>Hosting</b>: Ubuntu 16.04, Nginx, Node, MongoDB</p>
        <p><b>BackEnd</b>: NodeJs, Express, Mongoose;</p>
        <p><b>FrontEnd</b>: AngularJS, Angular-Router, Chart-JS, angular-material, font-awesome;</p>
        </p>
        <p>All matches with real companies and individuals are random. The project was created for educational purposes only.
        </p>
        <p>The project emulates the business logic of a trading company with several branches.</p>
       <a href="https://github.com/hideman1975/hermes.git">GitHub link</a>
    </md-card-content>
</md-card>
    </div>
</md-content>